body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    max-width: 1500px;
    margin: auto;
}

h1,
h2 {
    margin-left: 20px;
}

h3 {
    font-size: 1.6em;
    margin: 0 0 10px 0;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: white;
    border: 4px solid green;
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
    list-style: none; /*elise*/
    max-width: 400px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
}

.card div {
    margin-top: 20px;
}

.loader {
    border: 13px solid rgba(222, 222, 222, 0.5);
    border-top: 13px solid green;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px;
}

@keyframes spin {
    0% {
        tranform: (0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
